*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.debug{
  background-color:rgba(0, 0, 255, 0.196);
}

.d-flex{
  display: flex;
}

.justify{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

.desktop{
  display: none;
}




/* HEADER */
header{
  height: 80px;
}

header .container > :first-child{
  height: 100%;
}




/* DEMO */
.demo  .col{
  width: 100%;
}

.demo .card:not(.demo .col:first-of-type .card){
  text-align: center;
  border: 1px solid black;
}

.demo .col:first-of-type .card .text, 
.demo .col:first-of-type .card img{
  width: 100%;
}




/* QUERY */
@media screen and (min-width: 720px){
  .demo .row{
    display: flex;
  }

  .demo .col:not(.demo .col:first-of-type){
    width: calc(100% / 3);
  }

  .demo .col:first-of-type{
    width: calc(100% - (100% / 3))
  }
}

@media screen and (min-width: 1200px){
  
  .container{
    max-width: 1200px;
  }

  .desktop{
    display: flex;
  }

  header .hmb{
    display: none;
  }

  .demo .col:first-of-type .card{
    display: flex;
  }

  .demo .col:first-of-type .card .text, 
  .demo .col:first-of-type .card img{
    width: 50%;
  }
}